 # Data Science Tools and Ecosystem

<h1>Exercise 1: Create a Jupyter Notebook</h1>

<h2><strong>Name:</strong> Peer-graded_Assignment_Submitting_My_Work</h2>

<strong>Exercise 2 - Create a markdown cell with the title of the notebook.</strong>

In this notebook, Data Science Tools and Ecosystem are summarized.

<strong>Exercise 3 - Create a markdown cell for an introduction. (1 pt)</strong>

<p>In this notebook, Data Science Tools and Ecosystem are summarized.<p>

<strong>Objectives:</strong>
<ul>
    <li>List popular languages that Data Scientists use.</li>
    <li>List commonly used libraries used by Data Scientists.</li>
    <li>Comment on Data Science tools.</li>
</ul>

<strong>Exercise 4 - Create a markdown cell to list data science languages. (3 pts)</strong>

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python.</li>
    <li>R.</li>
    <li>SQL.</li>
    <li>Java.</li>
    <li>Julia.</li>
    <li>Scala.</li>
    <li>C/C++.</li>
    <li>JavaScript.</li>
</ol>

<strong>Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)</strong>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>TensorFlow.</li>
    <li>NumPy.</li>
    <li>SciPy.</li>
    <li>Pandas.</li>
    <li>LightGBM.</li>
    <li>ELI5.</li>
    <li>Theano.</li>
    <li>NuPIC.</li>
    <li>Ramp.</li>
    <li>Pipenv.</li>
    <li>Bob.</li>
    <li>PyBrain.</li>
    <li>Caffe2.</li>
    <li>Chainer.</li>
    <li>Matplotlib.</li>
    <li>Keras.</li>
    <li>SciKit-Learn.</li>
    <li>PyTorch.</li>
    <li>Scrapy.</li>
    <li>BeautifulSoup.</li></ol>

<strong>Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)</strong>

 # Data Science Tools and Ecosystem

Data Science Tools:

<table style="width:100%">
  <tr>
    <th>Data Science Tools</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td>SAS. It is one of those data science tools which are specifically designed for statistical operation</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Apache Spark</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>BigML</td>
    <td></td>
    <td></td>
  </tr>
</table>

<strong>Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)</strong>

### Examples of Evaluating Arithmetic Expressions in Python

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [22]:
# Arithmetic operations
add = compile("5 + 4", "<string>", "eval")
eval(add)

9

In [23]:
# Arithmetic operations
sum42 = compile("(3 + 4) * 6", "<string>", "eval")
eval(sum7)

42

In [24]:
# Arithmetic operations
sum42 = compile("(3 + 4) * 6", "<string>", "eval")
eval(sum7)

42

<strong>Exercise 8 - Create a code cell to multiply and add numbers.(2 pts)</strong>

In [ ]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
print(result)

<strong>Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)</strong>

In [7]:
# This will convert 200 minutes to hours by dividing by 60.
days = 0
hours = 0
mins = 0

time = 200
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

3.3333333333333335

 # Data Science Tools and Ecosystem

<strong>Exercise 10 -Insert a markdown cell to list Objectives.</strong>

**Objectives:**

- List popular languages for Data Science
- Discuss commonly used libraries in Data Science
- Perform arithmetic operations in Python
- Convert minutes to hours using Python
- Understand basic Markdown formatting in Jupyter Notebook

<strong>Exercise 11 Create a markdown cell to indicate the Authorâ€™s name.</strong>

<h2>Author:</h2> Kiko Israel